/* bigshot one font */
@import url('https://fonts.googleapis.com/css?family=Bigshot+One');

body {
  font-family: 'Bigshot One', serif;
  display: flex;
  flex-direction: column;
  place-items: center;
  background: #111;
}

h2 {
  color: #111;
  text-shadow: turquoise 1px 0 10px;
}

#app {
  font-family: 'Bigshot One', serif;
  color: #317873;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
}

#result {
  border: 1px solid #111;
  background-color: #111;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 640px;
  height: 480px;
}

#result img,
#result canvas {
  width: 213px;
  height: 160px;
  opacity: 0.9;
  transition: ease-in-out 300ms;
}

#result canvas:hover {
  opacity: 1;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

@media (max-width: 1280px) {
  #app {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  #app img {
    width: 100%;
  }
  #result {
    width: 100%;
  }
  #result canvas {
    width: 33.3%;
  }
}
